#mainBox{
    box-shadow: 2px 4px 12px gray;
    padding: 30px;
}
ion-icon{
    color: orangered;
    font-size: 20px;
    --ionicon-stroke-width: 50px;
}
.title{
    color: #f73a00;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
input[type="text"],input[type="password"],input[type="number"]{
    border: none;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus{
    border: 2px solid orangered;
    box-shadow: none;
}
.submitbtn{
    background-color: orangered;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.submitbtn:hover{
    color: black;
    text-decoration: none;
    box-shadow: 0px 0px 5px darkblue;
}